*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scrollbar-width: none;
	/*	cargarse la barra de scroll para Firefox*/
}

body{
	height: 100vh;
	font-size: 16px;
	line-height: 32px;
}

#header {
	height: 10vh;
	background-color: #ddd;
}

.fa {
	font-size: 48px;
	color: red;
	text-align: center;
}

aside {
	height: 15vh;
	background-color: lavender;
	overflow-x: scroll;
}

#slider {
	background-color: yellow;
	height: 15vh;
	width: 300vw; 
}

.bola {
	width: 10vh;
	height: 10vh;
	border-radius: 50%;
	background-color: #fff;
	border: solid 1px #ddd;
	margin: 0 5px;
	display: inline-block;
}

.bola img {
	width: 10vh;
	height: 10vh;
	border-radius: 50%;
	

}

#main {
	height: 65vh;
	overflow-y: auto;
	background-color: pink;
	
}

#main::-webkit-scrollbar {
	display: none;
/*	cargarse la barra de scroll para chrome*/
}

footer {
	height: 10vh;
}