* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Helvetica;
}


body {
	color: #666;
}

header, main, aside, footer {
	padding:10px;
}

li {
	list-style-type: none;
}
a {
	display: block;
	text-decoration: none;
	color: #000;
}
#main 	h2 {
	font-family: 'Kaushan Script', cursive;
	font-size:3.5rem;
	text-align: center;
	color: green;
}
#menu  li:hover .link1{
	color: #fff;
}

.sub li:hover a {
	color: #fff;
}

#header {
	background-color: rgba(255,255,255,0.8);
	/*top: 0;
	left: 0;
*/	height: 100px;
}
#menu {
	/*position: fixed;*/
	width: 80%;	
}
#menu  li {
	background-color: #ddd	;
	text-align: center;
}

#menu  li:hover {
	background-color: green;
	}

#main {
	background-color: rgba(255,255,255,0.5);
}
#aside {
	background-color: rgba(255,255,255,0.3);
}
#footer {
	background-color: rgba(255,255,255,0.1);
}
