@media screen and (max-width: 480px){
	body {
		background-color: tomato;
	}
#header {
	width: 100%;
}

#header a{
	width: 85%;
	float: right;
}

#footer {
	height: 100px;
}

#burger {
	width: 50px;
	height: 50px;
	padding: 8px;
}

#burger li {
	background-color: green;
	width: 30px;
	height: 5px;
	margin: 5px auto;
	border-radius: 15px;
}

#menu {
	position: absolute;
	top: 60px;
	left: -100%;
	width: 100%;
	transition: .5s;
}
#menu li .sub li {
	width: 25%;
	margin: 5px 0;
}
.check {
	position: absolute;
	width: 50px;
	height: 50px;
	z-index: 2;
	opacity: 0;
}

.check:checked ~ #menu /*con la virgulilla ataco a los elementos que están al mismo nivel*/
	{
	left:0;
	}

.iconos {
    right: 20px;
    top: 10px;
    position: absolute;
}
.iconos a {
	clear: both;
}
.icon {
	width: 20px;
	height: 20px;
	margin-bottom: 
}
}