@media screen and (min-width: 480px) and (max-width: 768px){
	body {
		background-color: yellowgreen;
	}
#main li {
	width: 50%;
	float: left;
}

#header {
	
}

#main {
	overflow: hidden;
}

#aside {
	overflow: hidden;
}

#footer {
	height: 100px;
}

#burger {
	width: 50px;
	height: 50px;
	padding: 8px;
}

#burger li {
	background-color: green;
	width: 30px;
	height: 5px;
	margin: 5px auto;
	border-radius: 15px;
	
}

#menu {
	position: absolute;
	left: -100%;
	width: 100%;
	transition: .5s;
}
.check {
	position: absolute;
	width: 50px;
	height: 50px;
	z-index: 2;
	opacity: 0;
}

.check:checked ~ #menu /*con la virgulilla ataco a los elementos que están al mismo nivel*/
	{	
	left:0;
	}

}