*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: verdana;
	scrollbar-width: none;
	/*	cargarse la barra de scroll para Firefox*/
}

*::-webkit-scrollbar {
	display: none;
/*	cargarse la barra de scroll para chrome*/
}

body{
	height: 100vh;
	line-height: 26px;
}

a {
	text-decoration: none;
}

#header {
	height: 10vh;
	background-color: #fff;
	width: 100%;
	border-bottom: solid 1px #ddd;
	position: fixed;
	top:0; /*no sé por qué al ponerle position fixed me desplaza todo el header 
	hacia abajo. Tuve que poner top 0 para volver a colocarlo arriba de todo
*/
	padding: 20px 10px;
}

.imgheader {
	height: 30px;
}

header .fa {
	font-size: 22px;
	float:right;
	margin: 0 10px;
	color: black;

}

aside {
	margin-top: 10vh;
	height: 15vh;
/*	background-color: lavender;*/
	overflow-x: scroll;
}

#slider {
/*	background-color: yellow;*/
	height: 15vh;
	width: 300vw; 
}

.bola {
	width: 10vh;
	height: 10vh;
	border-radius: 50%;
	background-color: #fff;
	margin: 11px 5px 0 5px;
	display: inline-block;
	border:solid 2px red;
/*	overflow: hidden; aparentemente no hace falta*/
}

.bola img {
	width: 9vh;
	height: 9vh;
	border-radius: 50%;;
	margin:1px; 
}

.bola p{
	font-size: 10px;
	line-height: 7px;
	text-align: center;
	

}

#main {
	height: 65vh;
	overflow-y: auto;
	
}

.contenido {
	margin: 25px 0;
	height: 60vh;
}

.contenido h2 {
	margin: 25px 10px 10px 10px;
	font-size: 16px;
}

.contenido p{
	margin-top: 0px;
	font-size: 15px;
	line-height: 18px;
}

.contenido .contbola {
	display: inline-flex;
	margin-bottom: 10px;
}

.contenido .comment{
	margin-top: 10px;
	font-size: 10px;
	line-height: 12px;
	color:#666;
}

.contenido .divcontenido {
	height: 200px;
	overflow: hidden;
}
.contenido .imgcontenido {
	width: 100%;

}

.contenido .iconocont {
	margin: 10px;
	line-height: 20px;
}

.context {
	margin: 25px 10px;

}

.contenido .fa {
font-size: 25px;
color:rgba(0,0,0,.5);
margin-right: 10px;
}

.contenido .fa1 {
	float: right;
}



footer {
	height: 10vh;
	display: inline-flex;
	padding: 5px;
	position: fixed;
	vertical-align: center;
	border-top: solid 1px #ddd;
  }
footer .foot {
	font-size: 5vh;
	vertical-align: text-bottom;
	height: 6vh;
	margin: 8px 16px;
	color:black;
}

footer .fa-camera {
	margin:0 15px;
	padding:8px;
	font-size: 5vh;
	border-radius: 50%;
	background-color: rgba(0,0,0,.10);
	border: solid 3px #aaa;
	color: black;
}

