@media screen and (min-width: 480px){


/*+++++++SPLASH++++++++*/

#splash {
    height: 100vh;
    background-color: rgba(0,0,0,.35);
    background-image: url(../img/fondospl12.jpg);
    background-size: cover;
    text-align: center;
    animation-name: back;
	animation-duration: 10s;
 	animation-iteration-count: infinite;
}

@keyframes back{
    0% {background-image: url(../img/fondospl12.jpg);} 
   30% {background-image: url(../img/fondospl2.jpg)}
   60% {background-image: url(../img/fondospl31.jpg);} 
   90% {background-image: url(../img/fondospl12.jpg);}
}
#hero {
	width: 50%;
	padding: 20px;
	margin-top: 10%;
}

#splash h1 {
	margin-top: 20vh;
	color: white;
}

/*+++++++INDEX++++++++*/


header {
	padding: 10px;
}

section {
	overflow: scroll;
}

#imageder {
	width: 50%;
	margin: auto;
}

#logoheader {
	width: 40%;
}


#grupos {
  animation-name: anim;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes anim{
    0% {color: #e90000;} 
   50% {color: #005b97;}
   100% {color: #e90000;}
}



#nav li{
/*	display: inline-block;*/
	padding:20px;
}

.iconos {
	padding: 10px;
}

.iconos a:first-child{
	display: none;
}

.iconos li {
display: inline-block;
margin: 0 8px;
}


#grup {
	display: none;
	background-color: white;
	opacity: 0.9;
	border: solid 1px;
	width: 250px;
	margin-top: 20px; 
	z-index: 10;	
}

/****************BODY*************/

#lospro {
	width: 100%;
}

#mispro {
	float: left;
	width: 100%;
}


.cadamipro {
	height: 20vh;
	text-align: center;
	margin: 1px;
	width: calc(50% - 2px);
	float: left;
}


#video_background {
 position: absolute;
 z-index: -1000;
 width: 100vw;
/* top: 15vh;
 right: 0px;
 min-width: 100%;
 min-height: 100%;
 height: auto;
 overflow: hidden;*/
 }

#personi {
	background-image: url(../img/grupos.jpg);
	background-size: cover;
}

#lista {
	background-image: url(../img/repro.jpg);
	background-size: cover;
	}



.mipasti {
	background-color: rgba(0,0,0,.4);
	height: 20vh;
	width: 100%;
	margin: auto;
}

/*+++++++++++++++++GRUPOS++++++++++++++++++*/

.grupis {
    height: calc(80vh + 3px);
    width: 100vw;
}

.dia {
	font-size: 50px;
	color:black;
	text-align: center;
	padding: 50px;
}

#napoleon {
	background-image: url(../img/napoleon3.jpg);
	background-size: cover;
	background-position-y: -200px;
}

.none {
	display: none;
}

#nescont {
	background-color: rgba(0,0,0,.5);
	top:0;
	left: 0;
	width: 100%;
	height: 100vh;
	position: absolute;
	display: inline-flex;
	margin: auto;
}

#nescontinv {
	display: none;
}

#nesimg {
	margin: auto;
	height: 80%;
}

.flecha {
	margin: 45vh 10% 0 10%;
	font-size: 50px;
}

.cruz {
	position: absolute;
	right: 20px;
	font-size: 30px;
}

#calavento {
	background-image: url(../img/triatlon.jpg);
	background-size: cover;
	background-position-y: -100px;
}

#triatcont {
	background-color: rgba(0,0,0,.5);
	top:0;
	left: 0;
	width: 100%;
	height: 100vh;
	position: absolute;
	display: inline-flex;
	margin: auto;
}

#triatloninv {
	display: none;
}

#trimg {
	margin: auto;
	height: 80%;
}
#doran {
	background-image: url(../img/rediseno.jpg);
	background-size: cover;

}

#mafalda {
	background-image: url(../img/web.jpg);
	background-size: cover;
	background-position-y: -10px;

}

#lala {
	background-image: url(../img/loco.png);
	background-size: cover;
	background-position-y: -10px;


}

#luzver {
	background-image: url(../img/libro.jpg);
	background-size: cover;	
}

#amor {
	background-image: url(../img/piwo2.svg);
	background-size: cover;
	background-position-y: 70px;
}

#nachin {
	background-image: url(../img/torti.jpg);
	background-size: cover;
	background-position-y: -10px;
}


/*+++++++++++++++++++++LOGIN++++++++++++++++++*/

#circo {
	background-color: rgba(0,0,0,.25);
    border-radius: 50%;
    width: 120.6px;
    margin: 50px auto;
    overflow: hidden;
    text-align: center;
}

#icuser {
	font-size: 100px;
	color: #e90000;
}

#formlog {
	display: grid;
	/*margin: 20px;*/
}

#formlog input {
	margin: 10px 20px;
	height: 40px;
}

#enviar {
	margin: 50px auto;
	width: 30%;
	height: 40px;
	background-color: white;
	border: solid 1 px black;
	border-radius: 50px;
	text-align: center;
	padding: 10px;
}

/*PROFILE*/

aside {
	height: 15vh;
	overflow-x: scroll;
}

.sectioncorto {
	height: 66vh;
}

#slider {
	height: 15vh;
	width: 200vw; 
}

.bola {
	width: 10vh;
	height: 10vh;
	border-radius: 50%;
	background-color: #fff;
	margin: 11px 5px 0 5px;
	display: inline-block;
}

.bola img {
	width: 10vh;
	height: 10vh;
	border-radius: 50%;;
}

.bola p{
	font-size: 10px;
	line-height: 7px;
	text-align: center;
	

}



.contenido {
	margin: 25px 0;
	height: 60vh;
}

.contenido h2 {
	margin: 25px 10px 10px 10px;
	font-size: 16px;
	color: black;
}

.contenido p{
	margin-top: 0px;
	font-size: 15px;
	line-height: 18px;
	color:black;
}

.contenido .contbola {
	display: inline-flex;
	margin-bottom: 10px;
}

.contbola {
	width: 100%;
}


.contenido .comment{
	margin-top: 10px;
	font-size: 10px;
	line-height: 12px;
	color:#666;
}

.contenido .divcontenido {
	height: 200px;
	overflow: hidden;
}
.contenido .imgcontenido {
	width: 100%;

}

.contenido .iconocont {
	margin: 10px;
	line-height: 20px;
}

.context {
	margin: 25px 10px;

}

.contenido .fa {
font-size: 25px;
color:rgba(0,0,0,.5);
margin-right: 10px;
}

.contenido .fa1 {
	float: right;
}


footer {
	display: inline-flex;
	padding: 5px;
/*	position: fixed;*/
	vertical-align: center;
	border-top: solid 1px #ddd;
  }
footer .foot {
	font-size: 5vh;
	vertical-align: text-bottom;
	height: 6vh;
	margin: 8px 16px;
	color:black;
}

footer .fa-camera {
	margin:0 15px;
	padding:8px;
	font-size: 5vh;
	border-radius: 50%;
	background-color: rgba(0,0,0,.10);
	border: solid 3px #aaa;
	color: black;
}
.checkbox {
	position: absolute;
	right: 5vw;
	height: 22px;
	opacity: 0;
	z-index: 1;
}

.checkbox:checked ~ .menuocu {
	right: 5vw;
	transition-delay: .20s, .20s; 
	transition-duration: .20s, .20s;
}

/*++++++++++++++++++++ELFESTI+++++++++++++++++++*/

#alguien {
background-image: url(../img/festi.jpg);
    height: 80vh;
    background-size: cover;
    background-position: center;
    width: 100%;
}

#negro {
	background-color: rgba(0,0,0,.3);
    height: 80vh;
    width: 100%;
}
#alguien h2 {
	padding-top: 250px;
	font-size: 36px;
	color: white;
}



}
}