@media screen and (min-width: 1100px) {

/*+++++++SPLASH++++++++*/

#splash {
	position:absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,.35);
    background-image: url(../img/fondospl12.jpg);
    background-size: cover;
    text-align: center;
    animation-name: back;
	animation-duration: 10s;
 	animation-iteration-count: infinite;
}

@keyframes back{
    0% {background-image: url(../img/fondospl12.jpg);} 
   30% {background-image: url(../img/fondospl2.jpg)}
   60% {background-image: url(../img/fondospl31.jpg);} 
   90% {background-image: url(../img/fondospl12.jpg);}
}

#hero {
	width: 15%;
    margin-top: 10%;
    padding: 20px;
}


#splash p {
	margin-top: 40vh;
	color: white;
	font-size: 20px;
}

/*+++++++INDEX++++++++*/


header {
	padding: 10px;
}

section {
	overflow: scroll;
}

#imageder {
	padding: 20px 10px;
}

#logoheader {
	width: 50%;
}

#nav {
	z-index: 1;
	display: none;
	position: absolute;
	background-color: rgba(255,255,255,.90);
	width: 60%;
	left: 20%;
	top:16vh;
	color: #e90000;
	border: solid 1px;
    text-align: center;
}

#nav li{
/*	display: inline-block;*/
	padding:20px;
}

#grup {
	display: none;
}

.iconos {
	padding: 20px 10px;
    float: right;
    font-size: 20px;
}

#hambur {
	height: 20px;
}


.iconos li {
display: inline-block;
margin: 0 5px;
}

.espeque {
	display: none;
}
/****************BODY*************/

#lospro {
	width: 100%;
}

#mispro {
	float: left;
	width: 100%;
}

.cadamipro {
	height: 20vh;
	text-align: center;
	margin: 1px;
	width: calc(50% - 2px);
	float: left;
}




/* #video_pattern {
 background:#fff;
 position: fixed;
 opacity: 0.8;
 left: 0px;
 top: 0px;
 width: 100%;
 height: 100%;
 z-index: 1;
 }*/

#festival {
	background-image: url(../img/festi.jpg);
	background-size: cover;
}

#personi {
	background-image: url(../img/grupos.jpg);
	background-size: cover;
}

#lista {
	background-image: url(../img/repro.jpg);
	background-size: cover;
	}

.mipasti {
	background-color: rgba(0,0,0,.4);
	height: 20vh;
	width: 100%;
	margin: auto;
}
/*+++++++++++++++++FOOTER++++++++++++++++++*/


footer {
	font-size: 15px;
    justify-content: space-evenly;
    width: 100%;
    height: 10vh;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: center;
}

#redes {
	font-size: 20px;
	width: 30%;
    display: flex;
    align-content: space-between;
}

#redes a {
		margin: 0 auto;
}

/*+++++++++++++++++GRUPOS++++++++++++++++++*/

#asino {
	padding:0 10px;
	height: 16vh;
	}

.filtro {
	display: none;
	margin: 5px;
}

#filtros {
	margin: 10px;
}

#dia {
    position: absolute;
    top: 21%;
    left: 30%;
    background-color: rgba(255, 255, 255);
    border: 1px solid red;
    padding: 10px;
    z-index: 20;
    width: 20%;
}

#hora {
	position: absolute;
    top: 21%;
    left: 51%;
    background-color: rgba(255, 255, 255);
    border: 1px solid red;
    padding: 10px;
    z-index: 20;
    width: 20%;
}

#escenario {
	position: absolute;
    top: 21%;
    left: 72%;
    background-color: rgba(255, 255, 255);
    border: 1px solid red;
    padding: 10px;
    z-index: 20;
    width: 20%;
}


.grupis {
    /*height: calc(80vh + 3px);*/
    width: 100vw;
}

.dia {
	font-size: 50px;
	/*color:black;
	text-align: center;
	padding: 50px;*/
}

#napoleon {
	background-image: url(../img/napoleon3.jpg);
	background-size: cover;
	}

.none {
	display: none;
}

.flecha {
	margin: 45vh 10% 0 10%;
	font-size: 50px;
}

.cruz {
	position: absolute;
	right: 20px;
	font-size: 30px;
}

#calavento {
	background-image: url(../img/calavento1.jpg);
	background-size: cover;
}

#triatcont {
	background-color: rgba(0,0,0,.5);
	top:0;
	left: 0;
	width: 100%;
	height: 100vh;
	position: absolute;
	display: inline-flex;
	margin: auto;
}

#triatloninv {
	display: none;
}

#trimg {
	margin: auto;
	height: 80%;
}
#doran {
	background-image: url(../img/dorian1.jpg);
	background-size: cover;

}

#mafalda {
	background-image: url(../img/mafalda1.jpg);
	background-size: cover;
	background-position-y: -10px;

}

#lala {
	background-image: url(../img/lalaloveyou1.jpeg);
	background-size: cover;
	background-position-y: -10px;
}

#luzver {
	background-image: url(../img/luz1.jpg);
	background-size: cover;	
}

#amor {
	background-image: url(../img/TriangulodeAmorBizarro1.jpg);
	background-size: cover;
}

#nachin {
	background-image: url(../img/nachovegas1.jpg);
	background-size: cover;
}

#lesbian {
	background-image: url(../img/lesbian1.jpg);
	background-size: cover;
}

#vetusta {
	background-image: url(../img/morla1.jpg);
	background-size: cover;
}
#lori {
	background-image: url(../img/lori1.jpg);
	background-size: cover;
}
#planetas {
	background-image: url(../img/planeta1.jpg);
	background-size: cover;
}
#losyos {
	background-image: url(../img/ivanes1.jpg);
	background-size: cover;
}
#izal {
	background-image: url(../img/izal1.jpg);
	background-size: cover;
}
#miss {
	background-image: url(../img/cafeina1.jpg);
	background-size: cover;
}
#subnor {
	background-image: url(../img/subnor1.jpg);
	background-size: cover;
}
#sidonie {
	background-image: url(../img/sidoine1.jpg);
	background-size: cover;
}
#habiroja {
	background-image: url(../img/habi1.jpg);
	background-size: cover;
}
#casazul {
	background-image: url(../img/casazul1.jpg);
	background-size: cover;
}
#columpio {
	background-image: url(../img/columpio1.jpg);
	background-size: cover;
}
#botis {
	background-image: url(../img/botis1.jpeg);
	background-size: cover;
}
#australian {
	background-image: url(../img/austra1.jpg);
	background-size: cover;
}
#carol {
	background-image: url(../img/caro1.jpg);
	background-size: cover;
}
#mutantes {
	background-image: url(../img/mutantes1.jpg);
	background-size: cover;
}

#torti {
	background-image: url(../img/torti1.jpg);
	background-size: cover;
}
#suecia {
	background-image: url(../img/suecia1.jpg);
	background-size: cover;
}
#hinds {
	background-image: url(../img/hind1.jpg);
	background-size: cover;
}
#buena {
	background-image: url(../img/buena1.jpg);
	background-size: cover;
}
#chino {
	background-image: url(../img/chino1.jpg);
	background-size: cover;
}
#fresa {
	background-image: url(../img/fresa1.jpg);
	background-size: cover;
}
#gusano {
	background-image: url(../img/gusano1.jpg);
	background-size: cover;
}
#novedades {
	background-image: url(../img/novedades1.jpg);
	background-size: cover;
}

#laflecha {
	position: fixed;
	bottom: 12vh;
	right: 20px;
	width: 30px;
	/*display: none;*/
	transition: .2s;
}

#laflecha:hover {
	width: 45px;
}

.show {
	display: block;	
}
/*+++++++++++++++++++++LOGIN++++++++++++++++++*/

#circo {
	background-color: rgba(0,0,0,.25);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 20px auto;
    overflow: hidden;
    text-align: center;
}

#icuser {
	font-size: 120px;
	color: #e90000;
}

#formlog {
    width: 40%;
	display: grid;
	margin: 30px auto 0;
}

#formlog input {
	margin: 10px 25px;
	height: 35px;
}

/*+++++++++++++++++PROFILE+++++++++++++++++++++++++++++*/

#aside {
	height: 15vh;
	overflow-x: scroll;
	width: 40%;
	margin: auto;
	padding: 5px;
	border: solid 1px rgba(0,0,0,.2);
	border-radius: 5px;
}


.lachechon {
	width: 50%;
	margin: 20px auto;
	padding: 5px;
	border: solid 1px rgba(0,0,0,.2);
	border-radius: 5px;
	height: calc(60vh - 20px);
}

#lasesiona {
	width: 50%;
	margin: auto;
	padding: 5px;
	border: solid 1px rgba(0,0,0,.2);
	border-radius: 5px;
	height: 75vh;
}



.sectioncorta {
	height: 60vh;
}
.sectioncorto {
	background-color: black;
	height: 60vh;
	color:white;
}

#slider {
	height: 15vh;
	width: 1000vw; 
}

.bola {
	width: 10vh;
	height: 10vh;
	border-radius: 50%;
	background-color: #fff;
	margin: 11px 5px 0 5px;
	display: inline-block;
}

.bola img {
	width: 10vh;
	height: 10vh;
	border-radius: 50%;;
}

.bola p{
	font-size: 10px;
	line-height: 7px;
	text-align: center;
}

.contenido {
	margin: 25px 0;
	/*height: 60vh;*/
}

.contenido h2 {
	margin: 25px 10px 10px 10px;
	font-size: 16px;
	color: black;
}

.contenido p{
	margin-top: 0px;
	font-size: 15px;
	line-height: 18px;
	color:black;
}

.contenido .contbola {
	display: inline-flex;
	margin-bottom: 10px;
}

.contbola {
	width: 100%;
}

.contenido .comment{
	margin-top: 10px;
	font-size: 10px;
	line-height: 12px;
	color:#666;
}

.contenido .divcontenido {
	height: 400px;
	overflow: hidden;
}
.contenido .imgcontenido {
	width: 100%;
}

.contenido .iconocont {
	margin: 10px;
	line-height: 20px;
}

.context {
	margin: 25px 10px;
}

.contenido .fa {
font-size: 25px;
color:rgba(0,0,0,.5);
margin-right: 10px;
}

.contenido .fa1 {
	float: right;
}

#futprof {
	font-size: 25px;
	width: 65%;
	margin: auto;
}

/*++++++++++++++++++++UPLOAD+++++++++++++++++++*/



#fotonueva {
	display: block;
	padding: 10px;
	margin: 20px auto;
	width: 100%;
	height: 30vh;
	font-size: 100pt;
	background-color: #eee;
	color: rgba(0,0,0,.50);
	text-align: center;
	line-height: 180px;
}

#titulofoto {
	padding: 10px;
	margin: 0 auto;
	width: 100%;
}


.input {
	background-color: #eee;
	border-radius: 10px;
	width: 70%;
	height: 40px;
	margin-left:15%;
	margin-bottom: 20px;
	text-align: center;
	border-style: hidden;
	font-size: 15px;
}

.input:focus {
  width: 100%;
  margin-left: 0;
  outline-color: #fff;
}


.long:focus {
height: 130px;
}

#footor {
	font-size: 35px;
	width: 65%;
	margin: auto;
}

/*++++++++++++++++++++ELFESTI+++++++++++++++++++*/

#negro {
/*	background-color: rgba(0,0,0,.3);*/
    width: 100%;
}

#descrip {
	padding: 35px;
	text-align: left;
    font-size: 25px;
    line-height: 35px;
    background-color: black;
    margin-top: 30px;
}

#descrip p {
    color:white;
}

.col1 {
	padding: 10px 10px 0px;
	font-size: 25px;
	text-align: right;
	line-height: 25px;
	color:#e42a31;
}

.col2 {
	padding: 10px 10px 0px;
	font-size: 25px;
	text-align: right;
	line-height: 25px;
	color:#b42f41;
}

.col3 {
	padding: 10px 10px 0px;
	font-size: 25px;
	text-align: right;
	line-height: 25px;
	color:#5a456c;
}

.col4 {
	padding: 10px 10px 0px;
	font-size: 25px;
	text-align: right;
	line-height: 25px;
	color:#0b5892;
}

#sectionfesti a{
	color:#e42a31;
}

.col5 {
	font-size: 25px;
	line-height: 25px;
	text-align: right;
	padding: 10px 10px 0px;
	animation-name: anim;
 	animation-duration: 5s;
 	animation-iteration-count: infinite;
}

#video_background {
 position: absolute;
 z-index: -1000;
/* width: 100vw;
top: 15vh;*/
 right: 0px;
/* min-width: 100%;
 min-height: 100%;*/
 height: auto;
 overflow: hidden;
 }


/*++++++++++++++++++++MENSAJE+++++++++++++++++++*/

#conv {
	margin: 10px;
	padding: 10px;
	height: 45vh;
	background-color: rgba(0,0,0,.15);
	border-radius: 10px;
	font-size: 10px;
	color:#b42f41;
}


#send {
	margin: 10px;
	text-align: center;
}

#mensaje {
	border: none;
	border-radius: 10px;
	width: 85%;
	height: 5vh;
	background-color: rgba(0,0,0,.15);
}

#mande {
	color:black;
}

.quien:hover {
	font-size: 12px;
}
.quien:active {
	color: white;
}

/*++++++++++++++++++++REPRO+++++++++++++++++++*/

#videogordo {
	width: 100%;
	margin-top: 2vh;
}

#videogordo video {
	color: red;
}

#minivideos {
	display: inline-flex;
	overflow-x: scroll;
	height: 30vh;
}

#minivideos video {
	/*width: 30%;*/
	height: 60%;
	margin: auto;}


/*++++++++++++++++++++COMPRA+++++++++++++++++++*/

.sesiona {
	height: 75vh;
	background-color: black;
	color:white;
}

/*++++++++++++++++++++CONTACTO+++++++++++++++++++*/

#contacta {
	color: black;
	width: 90vw;
    margin: auto;
}

#formu {
	width:100%;
	text-align: center;
}

#contacta .inpute {
	height: 40px;
	margin: 10px;
	width: 90vw;
}

#enviar {
	margin: 30px auto;
	width: 30%;
	height: 40px;
	background-color: #0a5991;
	color: white;
	border-radius: 50px;
	text-align: center;
	padding: 10px;
}

#problema {
	height: 100px!important;
}


#informa {
	font-size: 15px;
	line-height: 17px;
	font-weight: 200;
}

#informa a {
	color: white;
}

#contacta p {
	font-size: 15px;
    margin: 10px auto;
    display: inline;
}

#contacta a {
	font-size: 15px;
    margin: 10px auto;
    display: inline;
    color: #e42a31;
}


.llega {
	  width: 30vw;
	  display: block;
	  padding:10px;
	  margin: auto;
}

.ilici {
	text-align: left;
	font-size: 30px;
}

.ili1 {
	background-color: #e42a31;
	padding: 12px;
}

.ili2 {
	background-color: #b52d3f;
	padding: 12px;
}

.ili3 {
	background-color: #59456b;
	padding: 12px;
}

.ili4 {
	background-color: #0a5991;
	padding: 12px;
}

#mapi {
	height: 50vh;
}

#cc {
	color: white;
	font-size: 12px;
}

#cc a {
	color: white;
	font-size: 12px;
}

#headerprofi {
	width: 60%;
	margin: auto;
}

}
 	