
 @font-face {
    font-family: 'caviar_dreamsregular';
    src: url('../fuentes/CaviarDreams-webfont.woff') format('woff'),
         url('../fuentes/CaviarDreams-webfont.svg#caviar_dreamsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'caviar_dreamsbold';
    src: url('../fuentes/Caviar_Dreams_Bold-webfont.woff') format('woff'),
         url('../fuentes/Caviar_Dreams_Bold-webfont.svg#caviar_dreamsbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

 * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'caviar_dreamsbold';
	scrollbar-width: none;
}

*::-webkit-scrollbar {
	display: none;
}


body {
	height: 100vh;
/*	background: linear-gradient(to right, #e90000, #005b97);*/

}

header {
	/*float: left;*/
	display: flex;
	justify-content: space-between;
	/*width: 100%;*/
 	background-color: rgba(255,255,255,.5);
	height: 15vh;
}

header span {
	width: 10px;
/*	height: 15vh;*/
	background-color: black;
	position: absolute;
    top: 0;
}

#sp2 {
	left: 20%;
	animation-name: headi;
    animation-duration: 2s;
    height: 0vh;
}

#sp3 {
	left: 40%;
	animation-name: heado;
    animation-duration: 2s;
    height: 0vh;
}

#sp4 {
	left: 60%;
	animation-name: heade;
    animation-duration: 2s;
    height: 0vh;
}

#sp5 {
	left: 80%;
	animation-name: headu;
    animation-duration: 2s;
    height: 0vh;
}

@keyframes headi{
    /*0% {height: 5vh;} 
    33% {height: 10vh;}
    66% {height: 15vh;}*/
   99% {height: 15vh;}
}

@keyframes heado{
    /*0% {height: 5vh;} 
    33% {height: 10vh;}
    66% {height: 15vh;}*/
   99% {height: 25vh;}
}
@keyframes heade{
    /*0% {height: 5vh;} 
    33% {height: 10vh;}
    66% {height: 15vh;}*/
   99% {height: 10vh;}
}

@keyframes headu{
    /*0% {height: 5vh;} 
    33% {height: 10vh;}
    66% {height: 15vh;}*/
   99% {height: 15vh;}
}



#gradient {
	width: 100%;
	height: 2px;
	background: linear-gradient(to right, #e90000, #005b97);
}

section {
	height: 75vh;
	color: white;
}

#nav {
	z-index: 1;
	display: none;
	position: absolute;
	background-color: rgba(255,255,255,.90);
	width: calc(100% - 20px);
	top:16vh;
	height: 83vh;
	color: #e90000;
	border: solid 1px;
}

#grupos {
  animation-name: anim;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes anim{
    0% {color: #e42a31;} 
   16% {color: #b42f41;}
   33% {color: #5a456c;}
   50% {color: #0b5892;}
   66% {color: #5a456c;}
   82% {color: #b42f41;}
   98%{color: #e42a31;}
}


.cadapro {
	text-align: center;
/*	height: calc(25vh - 1px);*/
	background-position: center;
	margin: 1px;
}

.pasti {
    display: flex;
    background-color: rgba(0,0,0,.5);
    height: calc(25vh - 1px);
    width: 100%;
    font-size: 35px;
    color: white;
    justify-content: space-around;
    flex-direction: column;
	}

a {
	text-decoration: none;
	color:black;
}
ul, li {
    list-style: none;
}

section {
	height: 75vh;
}

footer {
/*justify-content: space-between;
*/width: 100%;
/*height: 10vh;*/
padding: 10px;
}


