@media screen and (max-width: 480px){

h2 {
	font-size: 17px;
}

#imagita {
	display: none;
}

.menu {
	display: none;
	background-color: white;
	position: absolute;
	top: 49px;
	left: 0;
	}
body {
	height: 100vh;
}

section {
	height: 80vh;
}

.menu {
	height: 100vh;
	width: 100%;
	color:#aaa;
	font-size: 17px;
}


.izquierda {
	display: none;
	background-color: white;
	margin: 10px 0 0 -20px;
    width: 100vw;
}

.izquierda li{
	border-bottom: solid 1px #aaa;
}

.arriba, .arriba2 {
	background-color: #eee;
	padding: 20px;
	color: black;
}

.menu li {
	border-bottom: solid 1px white;
	padding: 20px;

}

#desplegado, #desplegadodos {
	display: none;
	background-color: white;
	text-decoration: none;
	padding-left: 20px;
	color: black;
	background-color: white;
    width: 100vw;
}

.iconos {
	padding: 10px;
}

.iconos a:first-child{
	display: none;
}

.iconos li {
display: inline-block;
margin: 0 8px;
}


/*****+++++MAIN++++++*******/

.section {
	overflow: hidden;
	height: calc(100vh - 50px);
}

#potaca {
	background-image: url("../img/home.jpg");
	text-align: center;
	background-size: cover;
	background-position-x: center;
	background-repeat:no-repeat;
}

#potencia {
	background-color: rgba(0,0,0,.25);
	height: 100vh;
}

#pedales {
	padding: 40vh 15% 0;
	color:white;
	font-size: 35px;
	line-height: 35px;
}

#potencia p {
 	padding: 3vh 12% 0;
	color: white;
}

#descubre {
	background-color: white;
	border-radius: 50px;
	color:black;
	width:110px;
	height: 50px;
	margin-top:20px;
	border:none;
}
#descubre:hover {
	background-color: rgba(0,0,0,0);
	color:white;
	border:solid 1px white;
}

.dots {
	padding-top: 22vh;
	color: rgba(255,255,255,0.5);
	font-size: 8px;
	}

.dots i {
	padding: 3px;
}

/******+++++COMPRA++++++******/

#carror {
	display: none;
}

.producto {
	overflow: scroll;
	padding-top: 50px;
	display: flex;
}

#petaca {

	margin-left: 20px;
/*	background-image: url("../img/orcaero/ORCA_AREO_M21eTEAM.jpg");
	background-size: cover;
	background-position: center;*/
	width: 80%;
}


#bici {
	width: 100%;
}

.iconas {
	display: none;	
}

.contbola {
	display: block;
}

.bola{

	border-radius: 100%;
	height: 20px;
	width: 20px;
	margin:10px;
	padding:10px; 
}

#bola1 {
	background-color: #ddd;
}
#bola2 {
	background-color: rgb(50,50,255);
}
#bola3 {
	background-color: rgb(30,30,30);
}
.footer{
	width: 100%;
	height: calc(20vh - 50px);
}

.footer {
	height: calc(20vh - 50px);
	display: flex;
	justify-content: space-between;
	background-color: black;
	text-align: center;
}



.footer .venga {
	background-color: blue;
	color:white;

}

.footer a {
	width: 33.3333%;

	color:white;
}

.footer h2 {
		font-size: 14px;
		width: 33.3333%;
		padding: 25px 10px 0;
		color:white;
}


/*++++++PRUEBA MENU ELECCION++++++*/

#eleccion {
	top: 50px;
	height: calc(80vh - 50px);
	position: absolute;
	background-color: white;
	display: none;
}

#carre {
	background-color: white;
/*	display: inline-flex;*/	
	margin: 20px;

}

/*.tallacruz {
	display: inline-block;
	width: 100%;
}*/

.talcol {
/*	width: 80%;*/
	float: left;
}

#cruz {
	height: 50px;
	color: black;
	float: right;
}

.opciones{
	display: inline-flex;
}

#bicielect {
	width: 40vw;
}

/*.lastallas {
	height: 200px;
}*/

.unatalla {
	float: right;
	width: 60px;
	height: 60px;
	border: solid 1px #eee;
	text-align: center;
	vertical-align: middle;
	margin: 5px;
}

#cesta{
	display: none;
}

}