*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
	scrollbar-width: none;
	/*	cargarse la barra de scroll para Firefox*/
	
}

*::-webkit-scrollbar {
	display: none;
/*	cargarse la barra de scroll para chrome*/
}

body{
	height: 100vh;
	line-height: 26px;
}

a {
	text-decoration: none;
}

#header {
	height: 10vh;
	background-color: #fff;
	width: 100%;
	border-bottom: solid 1px #ddd;
	position: fixed;
	top:0; /*no sé por qué al ponerle position fixed me desplaza todo el header 
	hacia abajo. Tuve que poner top 0 para volver a colocarlo arriba de todo
*/
	padding: 20px 10px;
}

.imgheader {
	height: 30px;
}

header p {
	font-size: 17px;
	font-weight: 500;
	float:right;
	margin: 0 10px;
	color: black;

}

/******MAIN*****/

#main {
	margin-top: 10vh;
	height: 80vh;
	overflow-y: hidden;
}

#fotonueva {
	display: block;
	padding: 10px;
	margin: 20px auto;
	width: 100%;
	height: 30vh;
	font-size: 100pt;
	background-color: #eee;
	color: rgba(0,0,0,.50);
	text-align: center;
	line-height: 180px;
}

#titulofoto {
	padding: 10px;
	margin: 0 auto;
	width: 100%;
}


.input {
	background-color: #eee;
	border-radius: 10px;
	width: 70%;
	height: 40px;
	margin-left:15%;
	margin-bottom: 20px;
	text-align: center;
	border-style: hidden;
	font-size: 15px;

}

.input:focus {
  width: 100%;
  margin-left: 0;
  outline-color: #fff;
}


.long:focus {
height: 130px;
}

/******FOOTER*****/
footer {
	height: 10vh;
	width: 100%;
	padding: 5px;
	position: fixed;
	vertical-align: center;
	border-top: solid 1px #ddd;
	
  }

footer .foot {
	font-size: 5vh;
	vertical-align: text-bottom;
	height: 6vh;
	margin: 8px 16px;
	color:black;
}

#send {
	float: right;
}